.modal-title {
    user-select: none;
}

.modal-content nav a {
    text-decoration: none;
    color: inherit;
}

.modal .accordion {
    .nav {
        .accordion-button {
            box-shadow: none;
        }
    }
}