.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.me-10 {
    margin-right: 10px;
}

.text-justify {
    text-align: justify;
}

.user-select-none {
    user-select: none;
}

.font-family-pacifico {
    font-family: 'Pacifico';
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}