<div class="offcanvas-lg offcanvas-start col-lg-4 vh-100 px-3 d-flex flex-column shadow-lg border-end" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="{{sidebar_id}}" aria-labelledby="{{sidebar_id}}Label">
    <div class="offcanvas-header d-flex px-0">
        <h5 class="offcanvas-title flex-grow-1 user-select-none" id="{{sidebar_id}}Label">Geospatialib</h5>
        
        <button 
            type="button" 
            class="bi bi-moon-fill " 
            title='Toggle dark mode'
            onclick='toggleDarkMode(event)'
        ></button>    
        
        <button 
            type="button" 
            class="bi bi-layout-sidebar-inset d-none d-lg-block" 
            title='Toggle sidebar'
            onclick='toggleSidebar(event)' 
        ></button>    
        
        <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#{{sidebar_id}}" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body d-flex flex-column flex-grow-1 overflow-auto pe-3 ps-0">
        <div class='text-justify'>
            {% lorem 10 b random %}
        </div>
    </div>
</div>