{% load util_tags %}

<button
    class="{{button_class}}"
    type="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
>
    {% with social_account=user.socialaccount_set.all %}
        {% var social_account.0.extra_data.picture as picture %}
        {% if social_account and picture %}
            <img src="{{ picture }}" alt="{{ user.username }}" width="35" height="35"> {% comment %} class="rounded-circle"> {% endcomment %}
        {% else %}
            <i class="bi bi-person-fill"></i>
        {% endif %}
    {% endwith %}
    <i class="bi bi-three-dots"></i>
</button>