{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme='dark'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_prefix %}{% endblock title_prefix %} — Geospatialib
    </title>

    {% include "base/resources/styles.html" %}
    {% include "base/resources/leaflet.html" %}
    
</head>
<body>
    {% include "base/resources/icons.html" %}

    {% with sidebar_id='geospatialibSidebar' %}
        <div class="container-fluid vh-100">
            <div class="row vh-100">
                <div 
                    class="offcanvas-lg offcanvas-start col-lg-5 col-xl-4 col-xxl-3 vh-100 px-0 d-flex flex-column shadow-lg border-end" 
                    tabindex="-1" 
                    data-bs-scroll="true" 
                    data-bs-backdrop="false" 
                    id="{{sidebar_id}}" 
                    aria-labelledby="{{sidebar_id}}Label"
                >
                    {% include "base/sections/header.html" %}
                    <div class='px-3'>
                        {% block offcanvas_nav %}{% endblock offcanvas_nav %}
                    </div>
                    <div class="offcanvas-body d-flex flex-column flex-grow-1 overflow-x-hidden overflow-y-auto px-3 pt-0">
                        {% block offcanvas_body %}{% endblock offcanvas_body %}
                    </div>
                    <div class="footer border-top d-none d-lg-flex py-3 gap-3 justify-content-center px-5">
                        {% with button_class='btn btn-sm btn-dark d-flex gap-2 justify-content-center align-items-center' labelClass='text-nowrap d-none d-xxl-inline' %}
                            {% if user.is_authenticated %}
                                {% include "main/menu/dropup.html" with labelClass='text-nowrap' %}
                                {% block offcanvas_footer %}{% endblock offcanvas_footer %}
                            {% else %}
                                {% include "main/about/toggle.html" %}
                                {% include "main/login/toggle.html" with button_class='btn btn-sm d-flex gap-2 justify-content-center btn-primary flex-grow-1' %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class='col vh-100 p-0'>
                    <div class='d-lg-none z-2 position-fixed bottom-0 p-0 m-10 d-flex flex-column gap-2'>
                        {% if not user.is_authenticated %}
                            {% include "main/login/toggle.html" with button_class='btn btn-sm d-flex gap-2 justify-content-center btn-primary flex-grow-1' %}
                        {% endif %}
                        <div class="btn-group dropup shadow-lg">
                            <button 
                                type="button" 
                                class="btn btn-sm btn-dark flex-shrink-1"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#{{sidebar_id}}"
                                aria-controls="{{sidebar_id}}"
                            >
                                {% block sidebar_toggle_icon %}
                                    <i class="bi bi-layout-sidebar-inset"></i>
                                {% endblock sidebar_toggle_icon %}
                                <span class='ms-2 d-none d-xl-inline'>
                                    {% block sidebar_toggle_name %}
                                        Sidebar
                                    {% endblock sidebar_toggle_name %}
                                </span>
                            </button>
                            {% if user.is_authenticated %}
                                {% include "main/menu/toggle.html" with button_class='btn btn-sm btn-dark dropdown-toggle-split rounded-end' %}
                                <div class="dropdown-menu p-2 mb-1">
                                    {% with button_class='btn btn-sm btn-dark d-flex gap-2 w-100 justify-content-start' labelClass='text-nowrap' %}
                                        {% block toggle_menu %}{% endblock toggle_menu %}
                                        <div class="dropdown-divider"></div>
                                        {% include "main/menu/items.html" %}
                                    {% endwith %}
                                </div>
                            {% else %}
                                {% include "main/about/toggle.html" with button_class='btn btn-sm btn-dark rounded-end d-flex gap-2' labelClass='text-nowrap d-none d-xxl-inline' %}
                            {% endif %}
                        </div>
                    </div>
                    {% include "base/sections/map.html" %}
                </div>
            </div>
        </div>
    {% endwith %}

    {% include "base/sections/modals.html" %}

    {% include "base/resources/scripts.html" %}
</body>
</html>