{% load static %}

<div class="gap-3 d-flex flex-column">
    {% if messages %}
        {% for message in messages %}
            {% if tag and tag != '' %}
                {% if tag in message.tags %}
                    {% include "base/components/messages/message.html" %}
                {% endif %}
            {% else %}
                {% include "base/components/messages/message.html" %}
            {% endif %}
        {% endfor %}                                    
    {% endif %}
</div>