{% load util_tags %}

{% random_string as id %}

<div
    id="{{id}}"
    role="alert"
    class="alert d-flex align-items-center fade show mb-3 {{message.tags}}
        {% if dismissible == 1 %}
            alert-dismissible
        {% endif %}
        {% if 'success' in message.tags %}
            alert-success
        {% elif 'error' in message.tags %}
            alert-danger
        {% elif 'info' in message.tags %}
            alert-primary
        {% elif 'warning' in message.tags %}
            alert-warning
        {% endif %}
    "
>
    {% if "message-template" in message.tags %}
        {% include message|safe %}
    {% else %}
        {{ message|safe|escape }}
    {% endif %}
    
    {% if dismissible == 1 %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endif %}
    
    {% if fadeout == 1 %}
        <script>
            var element = document.querySelector("#{{id}}")
            if (element) {
                setTimeout(() => {
                    element.classList.add('fadeout')
                    setTimeout(() => {
                        element.remove()
                    }, 3000)
                }, 10000)
            }
        </script>
    {% endif %}
</div>

