{% load static %}

<div class="accordion accordion-flush px-0 flex-grow-1 d-flex flex-column" id="accountAccordion">
    <ul class="nav nav-tabs card-header-tabs ps-3">
        {% for name in forms.keys  %}
            <li class="nav-item">
                <button
                    class="accordion-button no-icon me-2 p-2 ps-3 text-bg-dark rounded-top z-3 {% if name != active_account_form %}collapsed{% endif %}"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{name}}AccountAccordion"
                    aria-expanded="{% if name == active_account_form %}true{% else %}false{% endif %}"
                    aria-controls="{{name}}AccountAccordion"
                >{{name|title}}</button>
            </li>
        {% endfor %}
        <li class="nav-item">
            <button
                class="accordion-button no-icon me-2 p-2 ps-3 text-bg-dark rounded-top z-3 collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#optionsAccountAccordion"
                aria-expanded="false"
                aria-controls="optionsAccountAccordion"
            ><i class="bi bi-three-dots"></i></button>
        </li>
    </ul>

    <div class="modal-body p-0 border-top text-bg-dark z-2 flex-grow-1 d-flex flex-column" style='margin-top:-1px;'>
        {% for name, form in forms.items %}
            <div
                id="{{name}}AccountAccordion"
                class="accordion-collapse collapse flex-grow-1 fade {% if name == active_account_form %}show{% endif %}"
                data-bs-parent="#accountAccordion"
            >
                <div class="accordion-body h-100 pt-4">
                    {% include "main/account/"|add:name|add:".html" with form=form %}
                </div>
            </div>
        {% endfor %}
        <div
            id="optionsAccountAccordion"
            class="accordion-collapse collapse flex-grow-1 fade"
            data-bs-parent="#accountAccordion"
        >
            <div class="accordion-body h-100 pt-4">
                {% with button_class='btn d-flex gap-2 justify-content-start' %}
                    <div class='d-flex gap-3'>
                        {% include "main/dashboard/toggle.html" with button_class=button_class|add:" btn-primary" %}
                        <button
                            class="{{button_class}} btn-danger"
                            type="button"
                        >
                            <i class="bi bi-trash3-fill"></i>
                            <span class='text-nowrap'>Delete account</span>
                        </button>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'main/js/account.js' %}"></script>