{% load static %}
{% load socialaccount %}

{% with id='accountModal' %}
    <div class="modal fade" id="{{id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true" >
        <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include "main/account/header.html" %}
                {% include "main/account/forms.html" with forms=account_forms %}
                {% include "main/account/footer.html" %}
            </div>
        </div>
    </div>

    {% if user.has_no_password or user.has_no_first_name %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const modal = new bootstrap.Modal("#{{id}}")
                modal.show()
            })
        </script>
    {% endif %}
{% endwith %}