{% load util_tags %}

{% if request.headers|get:'HX-Request' %}
    {% include "main/account/header.html" %}
    {% include "main/account/footer.html" %}
    <script>
        handleAccountChanges('privacy')
    </script>
{% endif %}

<form 
    hx-post="{% url 'hx_main:user_account' name='privacy' %}"
    hx-trigger='submit'
    hx-target='this'
    hx-swap='outerHTML'
>
    <div class="px-3">
        {% include "base/components/messages/body.html" with dismissible=1 tag='privacy-form' %}
    </div>
    {% csrf_token %}
    <div class='d-flex flex-column gap-3 overflow-hidden p-3 pt-1'>
        {% for field in form %}
            {% include "base/components/form/field.html" %}
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary htmx-request-hide">Update privacy settings</button>
        <button class="btn btn-lg btn-primary htmx-indicator" type="button" disabled>
            <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
            <span role="status">Updating privacy settings...</span>
        </button>    
    </div>
</form>