{% load static %}

{% with id='dashboardModal' %}
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true" >
        <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{id}}Title">
                        Dashboard
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                {% include "main/dashboard/navbar.html" %}
                <div class="modal-body">
                    {% include "main/dashboard/content.html" %}
                </div>
            </div>
        </div>
    </div>
{% endwith %}