<nav id="dashboardNavbar" class="navbar px-3 ms-auto">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyProfile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Second</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#accountModal">
                        Account Manager
                </a></li>
            </ul>
        </li>
    </ul>
</nav>
