<div class="offcanvas-header d-flex px-0 mb-3">
    <h5 class="offcanvas-title flex-grow-1 user-select-none" id="{{sidebar_id}}Label">
        <a class='text-reset text-decoration-none font-family-pacifico' href="{% url 'library:index' %}">Geospatialib</a>
    </h5>
    <button 
        type="button" 
        class="bi bi-moon-fill " 
        title='Toggle dark mode'
        onclick='toggleDarkMode(event)'
    ></button>    
    <button 
        type="button" 
        class="bi bi-layout-sidebar-inset d-none d-lg-block" 
        title='Toggle sidebar'
        onclick='toggleSidebar(event)' 
    ></button>    
    <button 
        type="button" 
        class="btn-close d-lg-none" 
        data-bs-dismiss="offcanvas" 
        data-bs-target="#{{sidebar_id}}" 
        aria-label="Close"
    ></button>
</div>