
<div>
    <h6 class="{{label_class}}">
        <span>Title</span>
        {% include "map/config/details/edit_button.html" with section='info' %}
    </h6>
    <h4>{{map.content.title}}</h4>
</div>

<div>
    <h6 class="{{label_class}}">Focus Area</h6>
    {% if map.focus_area %}
        <h6 class='fw-normal'>{{map.focus_area}}</h6>
    {% endif %}
</div>

<div>
    <h6 class="{{label_class}}">Abstract</h6>
    {% if map.content.abstract %}
        <div class='fw-normal m-0 text-justify'>{{map.content.abstract|safe|linebreaks|escape}}</div>
    {% endif %}
</div>

<div>
    <h6 class="{{label_class}}">Tags</h6>
    <div class="d-flex gap-2 pt-1">
        {% for tag in map.content.tags.all %}
            <span class="badge rounded-pill text-bg-primary">
                {{tag}}
            </span>
        {% endfor %}
    </div>
</div>

<div>
    <h6 class="{{label_class}}">References</h6>
    <ul class="list-unstyled">
        {% for reference in map.references.all %}
            <li class='fs-14'>
                {{reference|safe}}
                {% comment %} <a class='fs-14' href="{{reference.url.url}}" target="_blank" rel="noopener noreferrer">
                    {{reference.label}}
                </a> {% endcomment %}
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    if (document.readyState === 'complete') {
        handleMapFocusAreaBbox("{{map.content.bbox.extent}}")
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            handleMapFocusAreaBbox("{{map.content.bbox.extent}}")
        })
    }
</script>