{% load util_tags %}

{% with label_class="lead fs-14 text-muted user-select-none" %}
    <div>
        <h6 class="{{label_class}}">Title</h6>
        <h4>{{map.content.label}}</h4>
    </div>

    <div>
        <h6 class="{{label_class}}">Focus Area</h6>
        <h6 class='fw-normal'>{{map.focus_area}}</h6>
    </div>

    <div>
        <h6 class="{{label_class}}">Abstract</h6>
        <div class='fw-normal m-0 text-justify'>{{map.content.abstract|safe|linebreaks|escape}}</div>
    </div>

    <div>
        <h6 class="{{label_class}}">Tags</h6>
        <div class="d-flex gap-2 pt-1">
            {% for tag in map.content.tags.all %}
                <span class="badge rounded-pill text-bg-primary">
                    {{tag}}
                </span>
            {% endfor %}
        </div>
    </div>

    <div>
        <h6 class="{{label_class}}">References</h6>
        <ul class="list-unstyled">
            {% for reference in map.references.all %}
                <li>
                    <a href="{{reference.url.url}}" target="_blank" rel="noopener noreferrer">
                        {{reference.label}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div class="fs-14" >
        <table class="table table-dark table-rows-border-0 table-condensed" >
            <tbody>
                <tr class="">
                    <td scope="row" class="{{label_class}}">Owner</td>
                    <td>
                        {{map.owner.proper_name}}
                        {% if map.owner_since|date:"M d, Y" != map.content.added_on|date:"M d, Y" %}
                            since {{map.owner_since|date:"M d, Y"}}
                        {% endif %}                
                    </td>
                </tr>
                {% for label, roles in map.roles_dict.items %}
                    <tr class="">
                        <td scope="row" class="{{label_class}}">{{label}}</td>
                        <td>
                            <ul class="list-unstyled mb-0">
                                {% for role in roles %}
                                    <li>{{role.user.proper_name}}</li>
                                {% endfor %}            
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="">
                    <td scope="row" class="{{label_class}}">Created on</td>
                    <td>{{map.content.added_on|date:"M d, Y h:i a"|append_timezone}}</td>
                </tr>
                <tr class="">
                    <td scope="row" class="{{label_class}}">Last update</td>
                    <td>{{map.updated_on|timesince}}</td>
                </tr>
                <tr class="">
                    <td scope="row" class="{{label_class}}">Publication</td>
                    <td>
                        {% if map.published %}
                            {% if map.published_off %}
                                Re-published
                            {% else %}
                                Published
                            {% endif %}
                             on {{map.published_on|date:"M d, Y h:i a"|append_timezone}}
                        {% else %}
                            {% if map.published_off %}
                                Not published; un-published on {{map.published_off|date:"M d, Y h:i a"|append_timezone}}
                            {% else %}
                                Not published since created
                            {% endif %}
                        {% endif %}                
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endwith %}

<script>
    if (document.readyState === 'complete') {
        handleMapFocusAreaBbox("{{map.content.bbox.extent}}")
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            handleMapFocusAreaBbox("{{map.content.bbox.extent}}")
        })
    }
</script>
