{% load util_tags %}

<div id='mapLogsContainer' hx-swap-oob="true" class='d-flex flex-column gap-3 p-0'>
    {% for log in map.logs.all %}
        <div class='d-flex flex-column'>
            <span>
                {% if log.added_by == user %}
                    You
                {% else %}
                    {{log.added_by}}
                {% endif %}
                {{log}}
            </span>
            <span class='small text-muted'>{{log.added_on|timesince}} ago</span>
        </div>
    {% endfor %}
</div>