<ul class="nav nav-tabs card-header-tabs ps-3">
    <li class="nav-item">
        <button
            class="accordion-button no-icon me-2 px-2 ps-3 py-1 text-bg-dark bg-transparent border-0 rounded-top z-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#detailsMapAccordion"
            aria-expanded="true"
            aria-controls="detailsMapAccordion"
        >Details</button>
    </li>
    {% if role > 0 %}
        <li class="nav-item">
            <button
                class="accordion-button no-icon me-2 px-2 ps-3 py-1 text-bg-dark bg-transparent border-0 rounded-top z-3 collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#logsMapAccordion"
                aria-expanded="false"
                aria-controls="logsMapAccordion"
            >Logs</button>
        </li>
    {% endif %}
</ul>
