<div data-bs-spy="scroll" data-bs-target="#aboutNavbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading1">First heading</h4>
    <p>{% lorem 1 b random %}</p>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <p>{% lorem 1 b random %}</p>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <p>{% lorem 1 b random %}</p>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <p>{% lorem 1 b random %}</p>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
    <p>{% lorem 1 b random %}</p>
</div>