.leaflet-touch .leaflet-control-layers, 
.leaflet-touch .leaflet-bar {
    border: none !important;
    box-shadow: var(--bs-box-shadow) !important;
}

.leaflet-bar {
    a.btn-dark {
        background-color: #333;
        color: #fff;
    }

    a.btn-dark:active,
    a.btn-dark:hover,
    a.btn-dark:focus,
    a.btn-dark:visited {
        background-color: #333;
        color: #fff;
    }
}

.leaflet-container {
    .leaflet-control-attribution.text-bg-dark a {
        text-decoration: none;
        color: white;
    }
}

.leaflet-control-scale-line {
    text-shadow: none !important;
}

.leaflet-control-geocoder {
    border-radius: var(--bs-border-radius) !important;
    
    .leaflet-control-geocoder-form input {
        color: #333;
        margin-left: 5px;
    }
    
    .leaflet-control-geocoder-icon {
        border-radius: var(--bs-border-radius) !important;
        background-image: none !important;
    }
    
    .leaflet-control-geocoder-icon.btn-dark {
        background-color: #333;
        color: #fff;
    }
}