{% load static %}

{% comment %} JQuery {% endcomment %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

{% comment %} Bootstrp {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% comment %} HTMX {% endcomment %}
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

{% comment %} tagsinput {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.min.js" integrity="sha256-qErJbSp6E475pR/hJdpCvw76I8KND2+hQ25wkpA65pw=" crossorigin="anonymous"></script>

{% comment %} local scripts {% endcomment %}
<script type="text/javascript" src="{% static 'base/js/theme.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/elements.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/tagsinput.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/modals.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/accordion.js' %}"></script>

<script type="text/javascript" src="{% static 'leaflet/js/data.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/geojson.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/layers.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/coords.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/controls.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/js/init.js' %}"></script>

<script type="text/javascript" src="{% static 'base/js/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/index.js' %}"></script>

<script type="text/javascript" src="{% static 'library/js/search.js' %}"></script>

{% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'library/js/share_dataset.js' %}"></script>
{% endif %}
